<launch>
  <arg name="port" default="/dev/serial/by-id/usb-SEGGER_J-Link_000760193996-if00"/>
  <arg name="baud" default="115200"/>
  
  <node pkg="mdek_driver" type="ranges.py" name="range_reader" output="screen">
    <param name="port" value="$(arg port)" type="string"/>
    <param name="baud" value="$(arg baud)" type="int"/>
  </node>

  <!--<node pkg="rosbag" type="record" name="record" output="screen" args="-o ~/range.bag 
    /Crawler/ranges"/>-->

</launch>
